/*App*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia;
    font-size: 2.5vh;
}

label{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*Button*/
.botao{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    padding: 5px;
    font-size: 5vh;
    font-family:Georgia;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    
}

